/* GIN LOCATION SPECIFIC STYLES */

/**************
* Main Content 
***************/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  background: #f3f2f2;
}

main {
  margin: 0 auto;
  max-width: 1300px;
}

h1 {
  margin: 50px 20px;
  font-size: 40px;
  color: rgb(168, 177, 162);
}

/*************
* MAP Styles 
**************/
#map {
  width: 80%;
  height: 70vh;
  border: 1px solid lightgrey;
  margin: 30px 20px 90px 10%;
  border-radius: 4px;
}

/* InfoWindow Styles */
.imgWrapper {
  float: left;
  margin-right: 25px;
  margin-bottom: 20px;
  max-width: 200px;
  overflow: hidden;
}

.imgWrapper img {
  object-fit: scale-down;
  height: 200px;
}

.info-window span {
  font-weight: 500;
}

@media (max-width: 478px) {
  h1 {
    font-size: 35px;
  }
}

@media (max-width: 425px) {
  h1 {
    font-size: 30px;
  }
}

@media (max-width: 368px) {
  h1 {
    font-size: 25px;
  }
}