* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: montserrat;
  background: #f3f2f2;
}

/* Changed h2 to h1 & added stylings from other pages */
h1 {
  margin: 50px 20px;
  font-size: 40px;
  color: rgb(168, 177, 162);
}

/* .head-container {
  margin-top: 100px;
  height: auto;
} */

.container {
  margin: 0 0;
  display: flex;
  flex-direction: column;
  z-index: 10;
  /* padding-top: 2%; */
  border-bottom: 3px solid #e04c10;
}

.box {
  min-height: 300px;
  display: grid;
  grid-column-gap: 0;
  grid-template-columns: 1fr 1fr;
}

.box1 {
  border-top: 3px solid #e04c10;
}

.sub-box {
}

.step {
  position: relative;
  margin: 0 0;
  padding: 0;
  overflow: hidden;
}

.step-title {
  color: #e04c10;
  font-size: 150px;
  margin: 0 0 0 0;
  margin-right: 0%;
  z-index: 60;
}

.text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
  font-size: 60px;
}

.step-title {
  color: #e04c10;
  font-size: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 5%;
  width: 80%;
}

.image-base {
  position: absolute;
  max-height: 600px;
}

.gap {
  height: 100px;
}

.img1 {
  position: absolute;
  max-height: 1000px;
  transform: translate(0, -40%);
  z-index: 50;
}

.img2 {
  position: absolute;
  max-height: 1000px;
  transform: translate(0, -40%);
}

.img3 {
  position: absolute;
  max-height: 1000px;
  transform: translate(0, -40%);
}

.img4 {
  position: absolute;
  max-height: 2000px;
  transform: translate(0, -25%);
}

.img5 {
  position: absolute;
  max-height: 1600px;
  transform: translate(0, -20%);
}

.img6 {
  position: absolute;
  max-height: 1300px;
  transform: translate(-20%, -20%);
}

.img7 {
  position: absolute;
  max-height: 1200px;
  transform: translate(0, -20%);
}

.video {
  position: relative;
  height: 50%;
  margin: 2%;
}

.image-base:hover {
  opacity: 50%;
}

@media (max-width: 1350px) {
  .step-title {
    font-size: 100px;
  }

  .box {
    min-height: 200px;
    height: 240px;
  }

  .text {
    font-size: 40px;
  }

  .image-base {
    max-height: 1000px;
  }
}

@media (max-width: 890px) {
  .step-title {
    font-size: 80px;
  }

  .box {
    min-height: 100px;
    height: 150px;
  }

  .text {
    font-size: 20px;
  }

  .image-base {
    max-height: 700px;
  }
}

@media (max-width: 740px) {
  .step-title {
    font-size: 30px;
    transform: translate(0, 40%);
  }

  .box {
    min-height: 80px;
    height: 100px;
  }

  .text {
    font-size: 15px;
  }

  .image-base {
    max-height: 500px;
  }

  .img4 {
    max-height: 700px;
  }
}
