* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  background-color: rgb(168, 177, 162);
  width: 100%;
  position: fixed;
  padding: 0 1em;
  margin: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 6em;
}

.drop_down {
  display: flex;
  align-items: center;
  position: relative;
}

.nav_list {
  display: flex;
  font-size: 1em;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav_list li {
  margin: 0 10px;
}

.nav_list li a {
  text-decoration: none;
  color: rgb(226, 109, 56);
  font-family: Montserrat;
  font-size: 1.2em;
}

.nav_list li a:visited {
  text-decoration: none;
}

.nav_list li a:hover {
  color: white;
}

.drop_down .menu_wrapper {
  cursor: pointer;
  height: 25px;
  position: relative;
  width: 40px;
  display: none;
  align-items: center;
}

.drop_down .menu {
  background: #333;
  display: flex;
  border-radius: 5px;
  height: 5px;
  width: 100%;
}

.drop_down .menu:before,
.drop_down .menu:after {
  background: #333;
  content: "";
  display: block;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.drop_down .menu:before {
  top: 0;
}

.drop_down .menu:after {
  bottom: 0;
}

@media (max-width: 790px) {
  /* .drop_down .menu {
    display: inline;
  } */

  .drop_down .menu_wrapper {
    display: flex;
  }

  /* .nav_list {
    display: none;
  } */

  .nav_list {
    flex-direction: column;
    position: fixed;
    top: 5.8em;
    left: 0;
    width: 100%;
    align-items: flex-end;
    background: #a8b1a2;
    padding-right: 0.5em;
    line-height: 2em;
  }
}
